* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "Poppins";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
}
body .title_page {
  width: 750px;
  height: 990px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #e2f0ff;
}
body .title_page .img1 {
  background-image: url(../assets/Img1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 524px;
  height: 391px;
  margin: 174px 0 0 93px;
}
body .title_page h1 {
  color: #292731;
  text-align: center;
  font: 600 26px "Poppins";
  line-height: 131.5%;
  width: 400px;
  height: 68px;
  margin: 56px 0 0 150px;
}
body .title_page p {
  color: #455360;
  text-align: center;
  font: 400 16px "Poppins";
  line-height: 170%;
  width: 386px;
  height: 54px;
  margin: 23px 0 0 160px;
}
body .login {
  text-align: start;
  margin: 166px 0 0 135px;
}
body .login .img2 {
  background-image: url(../assets/img2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}
body .login h1 {
  color: #292731;
  font: 600 30px "Poppins";
  margin-top: 12px;
}
body .login p {
  color: #292731;
  font: 400 16px "Poppins";
  line-height: 170%;
  margin-top: 12px;
}
body .login .e-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .login .e-mail p {
  color: #455360;
  font: 500 16px "Poppins";
  margin-top: 62px;
}
body .login .e-mail .img3 {
  background-image: url(../assets/img3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 62px 0 0 225px;
}
body .login .input1 {
  border-radius: 4px;
  background: #ecf2f7;
  width: 440px;
  height: 48px;
  margin-top: 10px;
}
body .login .input1::-webkit-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .input1::-moz-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .input1:-ms-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .input1::-ms-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .input1::placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .password p {
  color: #455360;
  font: 500 16px "Poppins";
  margin-top: 30px;
}
body .login .password .input2 {
  border-radius: 4px;
  background: #ecf2f7;
  width: 440px;
  height: 48px;
  margin-top: 10px;
}
body .login .password .input2::-webkit-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .password .input2::-moz-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .password .input2:-ms-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .password .input2::-ms-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .password .input2::placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .confirm_password p {
  color: #455360;
  font: 500 16px "Poppins";
  margin-top: 30px;
}
body .login .confirm_password .input3 {
  border-radius: 4px;
  background: #ecf2f7;
  width: 440px;
  height: 48px;
  margin-top: 10px;
}
body .login .confirm_password .input3::-webkit-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .confirm_password .input3::-moz-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .confirm_password .input3:-ms-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .confirm_password .input3::-ms-input-placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .login .confirm_password .input3::placeholder {
  color: #7b8389;
  font: 400 16px "Poppins";
  line-height: 170%;
  padding-left: 22px;
}
body .button {
  margin-top: 44px;
  border-radius: 8px;
  background: #4c70ff;
  width: 443px;
  height: 54px;
  color: #fff;
  font: 500 20px "Poppins";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .final_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 19px;
}
body .final_page h3 {
  color: #292731;
  font: 500 16px "Poppins";
}
body .final_page div h3 {
  color: #66bce8;
  font: 500 16px "Poppins";
  margin-left: 5px;
}